.page-film {
  align-items: center;
  -webkit-backdrop-filter: blur(6rem);
  backdrop-filter: blur(6rem);
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  overscroll-behavior: none;
  padding: 4rem 7rem;
  position: fixed;
  top: 0;
  transform: translateZ(0);
  width: 100%;
  z-index: 1000;
}
@media (max-width: 767.98px) {
  .page-film {
    padding: 1rem 0.5rem;
  }
}
.page-film .page-film-inner {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 3rem;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 13rem 5rem;
  position: relative;
  width: 100%;
}
@media (max-width: 767.98px) {
  .page-film .page-film-inner {
    padding: 13rem 1.5rem;
  }
}
.page-film .page-film-inner .film-close {
  align-items: center;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  display: flex;
  height: 3.6rem;
  justify-content: center;
  outline: none;
  padding: 1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3.6rem;
  z-index: 10;
}
.page-film .page-film-inner .film-close:hover:active {
  transform: scale(0.95);
}
.page-film .page-film-inner .film-video {
  aspect-ratio: 16/9;
  display: block;
  height: -moz-max-content;
  height: max-content;
  max-height: 100%;
  max-width: 100%;
  width: -moz-max-content;
  width: max-content;
}
.page-film .page-film-inner .film-video .video-wrapper {
  display: block;
  height: 100%;
  width: 100%;
}
.page-film .page-film-inner .film-video .video-wrapper video {
  border-radius: 1rem;
  display: block;
  height: 100%;
  width: 100%;
}
@media (max-width: 767.98px) {
  .page-film .page-film-inner .film-video .video-wrapper video {
    border-radius: 0.5rem;
  }
}
@media only screen and (orientation: landscape) and (max-width: 896px) {
  .page-film {
    padding: 0;
  }
  .page-film .film-close {
    display: none !important;
  }
  .page-film .page-film-inner {
    border-radius: 0;
    height: 100%;
    padding: 0;
    width: 100%;
  }
  .page-film .page-film-inner .film-video {
    border-radius: 0;
  }
  .page-film .page-film-inner .film-video video {
    height: 100dvh !important;
    -o-object-fit: contain;
    object-fit: contain;
  }
}
.icon-x g {
  stroke: currentColor;
}
