.page-section {
  align-items: flex-start;
  -webkit-backdrop-filter: blur(6rem);
  backdrop-filter: blur(6rem);
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  justify-content: center;
  left: 0;
  overflow: hidden;
  overscroll-behavior: none;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  transform: translateZ(0);
  width: 100%;
  z-index: 1000;
}
@media (max-width: 767.98px) {
  .page-section {
    padding: 10rem 2rem 0;
  }
}
.page-section > .page-section-close {
  align-items: center;
  background-color: #fff;
  background-color: var(--color-white, #fff);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 4.5rem;
  justify-content: center;
  padding: 1.5rem;
  position: fixed;
  right: 1.4rem;
  right: var(--pwy, 1.4rem);
  top: 2rem;
  top: var(--pwx, 2rem);
  width: 4.5rem;
  z-index: 10;
}
.page-section > .page-section-close svg {
  display: block;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}
.page-section > .page-section-close svg g {
  stroke-width: 1.25;
  stroke: currentColor;
}
.page-section > .page-section-nav {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  left: 0;
  padding: 2rem;
  pointer-events: none;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
.page-section > .page-section-nav > * {
  pointer-events: auto;
}
.page-section > .page-section-nav > .is-next {
  margin-left: auto;
}
.page-section > .page-section-inner {
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.05);
  /* height: calc(100% - 2rem); */
  max-width: 100%;
  overflow-y: scroll;
  overscroll-behavior: none;
  padding: 4rem 2.5rem;
  position: absolute;
  scrollbar-width: none;
  width: 55rem;
  width: var(--section-width, 55rem);
  z-index: 10;
}
.page-section > .page-section-inner ::-webkit-scrollbar,
.page-section > .page-section-inner::-webkit-scrollbar {
  display: none;
  height: 0 !important;
  width: 0 !important;
}
@media (max-width: 767.98px) {
  .page-section > .page-section-inner {
    border-radius: 2.33rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    max-height: calc(100vh - 10rem);
    max-height: calc(var(--vh, 1vh) * 100 - 10rem);
    max-width: calc(100% - 2rem);
    padding: 3.8rem 3rem;
  }
}
.page-section > .page-section-inner .section-close {
  align-items: center;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  display: flex;
  display: none;
  height: 3.6rem;
  justify-content: center;
  outline: none;
  padding: 1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3.6rem;
  z-index: 10;
}
.page-section > .page-section-inner .section-close:hover:active {
  transform: scale(0.95);
}
@media (max-width: 767.98px) {
  .page-section > .page-section-inner .section-close {
    display: flex;
    margin-left: auto;
    margin-right: -2rem;
    margin-top: -3rem;
    position: sticky;
    right: -2rem;
    top: -3rem;
  }
}
.page-section > .page-section-inner .section-header {
  font-family:
    Suisse BP Intl,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-family: var(
    --font-secondary,
    "Suisse BP Intl",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif
  );
  margin-bottom: 3rem;
}
.page-section > .page-section-inner .section-header .section-step {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}
.page-section > .page-section-inner .section-header .section-subtitle,
.page-section > .page-section-inner .section-header .section-title {
  font-size: 2.2rem;
  font-size: var(--size-large, 2.2rem);
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.page-section > .page-section-inner .section-header .section-subtitle {
  color: #c2c2c2;
  color: var(--color-grey, #c2c2c2);
}
.page-section > .page-section-inner .section-video {
  display: block;
  width: 100%;
}
.page-section > .page-section-inner .section-video img,
.page-section > .page-section-inner .section-video video {
  border-radius: 0.4rem;
  border-radius: var(--radius-sm, 0.4rem);
}
.page-section > .page-section-inner .section-richtext {
  font-family:
    Suisse BP Intl,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-family: var(
    --font-secondary,
    "Suisse BP Intl",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif
  );
  font-size: 1.4rem;
  letter-spacing: 0.04em;
  line-height: 1.4;
}
.page-section > .page-section-inner .section-richtext .media-wrapper {
  display: block;
  margin-bottom: 6rem;
  margin-top: 6rem;
  padding: 0 4rem;
  width: 100%;
}
.page-section
  > .page-section-inner
  .section-richtext
  .media-wrapper:last-child {
  margin-bottom: 0;
}
.page-section > .page-section-inner .section-richtext .media-wrapper img,
.page-section > .page-section-inner .section-richtext .media-wrapper video {
  border-radius: 0.4rem;
  border-radius: var(--radius-sm, 0.4rem);
  display: block;
  height: auto;
  width: 100%;
}
.page-section > .page-section-inner .section-media {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
  width: 100%;
}
.page-section > .page-section-inner .section-media .section-media-item {
  display: none;
}
.page-section > .page-section-inner .section-media .section-media-item img,
.page-section > .page-section-inner .section-media .section-media-item video {
  border-radius: 0.4rem;
  border-radius: var(--radius-sm, 0.4rem);
  height: auto;
  width: 100%;
}
.icon-x g {
  stroke: currentColor;
}
img[data-v-3264e886] {
  will-change: filter;
}
img.lazyload[data-v-3264e886],
img.lazyloaded[data-v-3264e886],
img.lazyloading[data-v-3264e886] {
  transition: filter 0.35s;
  transition: filter var(--duration-long, 0.35s);
}
img.lazyload[data-v-3264e886],
img.lazyloading[data-v-3264e886] {
  filter: blur(1rem);
}
img.lazyloaded[data-v-3264e886] {
  filter: none;
}
